@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
h1 {
  font-size: calc(1.5rem + 2vw);
}

.m2 {
  font-size: calc(1rem + 2vw);
}

.m3 {
  font-size: 1rem;
}

.absolute-center, .content-wrapper .content-slideshow .content .progress div, .content-wrapper .content-slideshow .content .money-wrapper .money-circle, .content-wrapper .content-slideshow .content .money-wrapper .background-radial {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #FF9C27;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 99;
  opacity: 0.8;
  display: flex;
  padding: 1rem;
}

.modal {
  margin: auto;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  background-color: #3E3E3E;
  display: grid;
  grid-template-rows: 60px auto 65px;
  gap: 1rem;
}
.modal .modal-header {
  width: 100%;
  height: 100%;
  background-color: #FF9C27;
  border-radius: 8px 8px 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.modal .modal-header .modal-title {
  background: transparent;
  outline: none;
  color: white;
  text-align: center;
  border: none;
  width: 100%;
  height: 100%;
}
.modal .modal-header .modal-title ::-moz-placeholder {
  color: white !important;
}
.modal .modal-header .modal-title ::placeholder {
  color: white !important;
}
.modal .modal-form {
  padding: 1rem;
  display: grid;
  gap: 3rem;
}
.modal .modal-form .input {
  position: relative;
  height: 100%;
}
.modal .modal-form .input .label {
  position: absolute;
  top: 50%;
  font-size: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease;
}
.modal .modal-form .input .active-label {
  top: -5%;
  font-size: 0.9rem;
}
.modal .modal-form .input .input-field {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #FF9C27;
  font-size: 1.25rem;
  text-align: center;
  color: white;
  padding: 0.5rem;
}
.modal .button-wrapper {
  padding: 10px;
}
.modal .button-wrapper .create-modal {
  width: 100%;
  background: linear-gradient(35deg, #FF9C27, #E8BE17);
  padding: 0.75rem;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: 200ms ease;
}
.modal .button-wrapper .create-modal:active {
  scale: 0.9;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  background-color: #060606;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 80px calc(100dvh - 180px) 100px;
}

#main {
  height: 100%;
  display: grid;
  place-items: center;
}

.content-wrapper .content-slideshow::-webkit-scrollbar {
  display: none;
}
.content-wrapper .content-slideshow {
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 32px;
  overflow-x: auto;
  width: 100vw;
  scroll-snap-type: x mandatory;
}
.content-wrapper .content-slideshow .content {
  text-align: center;
  scroll-snap-align: start;
  flex: none;
  width: 100vw;
}
.content-wrapper .content-slideshow .content .content-title {
  margin-bottom: 1rem;
}
.content-wrapper .content-slideshow .content .money-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.content-wrapper .content-slideshow .content .money-wrapper .background-radial {
  position: absolute;
  width: 350px;
  height: 350px;
  background: radial-gradient(50% 50% at 50% 50%, #FF9C27 2.9%, #FF9C27 2.5%, rgba(248, 167, 34, 0) 100%);
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding: 1.5rem;
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle .money-current {
  font-size: 3rem;
  line-height: 35px;
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle .money-procent, .content-wrapper .content-slideshow .content .money-wrapper .money-circle .money-goal {
  font-size: 1.25rem;
  font-weight: bold;
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle .label {
  color: rgba(255, 255, 255, 0.5019607843);
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle-add {
  background-color: #3E3E3E;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px #060606;
  cursor: pointer;
}
.content-wrapper .content-slideshow .content .money-wrapper .money-circle-add .money-add {
  font-size: 3rem;
  color: #FF9C27;
}
.content-wrapper .content-slideshow .content .money-wrapper .background-radial-add {
  width: 200px;
  height: 200px;
  background: radial-gradient(20% 24% at 50% 50%, #FF9C27 0%, #FF9C27 0%, rgba(248, 167, 34, 0) 190%);
}
.content-wrapper .content-slideshow .content .money-wrapper .svg-gradient {
  width: 75vw;
  height: 75vw;
  border-radius: 500px;
  background: linear-gradient(135deg, #FF9C27 50%, #E8BE17);
  background-size: 400% 400%;
  animation: test 7s ease-in-out forwards infinite;
}
@keyframes test {
  0% {
    border-radius: 110px 140px 110px 150px;
    background-position: 0% 50%;
  }
  50% {
    border-radius: 125px 111px 173px 130px;
    background-position: 100% 50%;
  }
  100% {
    border-radius: 110px 140px 110px 150px;
    background-position: 0% 50%;
  }
}
.content-wrapper .content-slideshow .content .progress div {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100px;
}
.content-wrapper .content-slideshow .content .progress .progress-bar {
  border: 4px solid white;
}
.content-wrapper .content-slideshow .complete .money-wrapper .svg-gradient {
  background: linear-gradient(180deg, #D9D9D9 0%, #65dd1b 0.01%, #77BA09 100%);
}
.content-wrapper .content-slideshow .complete .money-wrapper .background-radial {
  display: none;
}
.content-wrapper .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.content-wrapper .tabs .tab {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: gray;
  transition: 200ms ease;
}
.content-wrapper .tabs .active-tab {
  background-color: #E8BE17;
}

.navbar {
  background-color: #FF9C27;
  text-align: center;
  height: 60px;
}
.navbar .navbar-day {
  font-weight: 700;
}
.navbar .navbar-time {
  color: black;
}/*# sourceMappingURL=main.css.map */