
.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
    opacity: .8;
    display: flex;
    padding: 1rem;
}

.modal {
    margin: auto;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    background-color: $gray;
    display: grid;
    grid-template-rows: 60px auto auto;
    gap: 1rem;

    .modal-header {
        width: 100%;
        height: 100%;
        background-color: $primary;
        border-radius: 8px 8px 0 0;
        text-align: center;
        display: flex;
        
        align-items: center;
        justify-content: center;
        color: white;
        
        .modal-title {
            background: transparent;
            outline: none;
            color: white;
            text-align: center;
            border: none;
            width: 100%;
            height: 100%;

            ::placeholder {
                color: white !important;
            }
        }
     
    }

    .modal-form {
        padding: 1rem;
        display: grid;
        gap: 3rem;

        .input {
            position: relative;
            height: 100%;
            
            .label {
                position: absolute;
                top: 50%;
                font-size: 1rem;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 200ms ease;
            }

            .active-label {
                top: -5%;
                font-size: .9rem;
            }

            .input-field {
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 2px solid $primary;
                font-size: 1.25rem;
                text-align: center;
                color: white;
                padding: .5rem;
            }

        }

    }

    .button-wrapper {
        padding: 10px;
        display: flex;
        gap: 1rem;
        
        .btn {
            width: 100%;
            padding: .75rem;
            font-size: 1.25rem;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 8px;
            transition: 200ms ease;

        }

        .create-modal {
            background: linear-gradient(35deg, $primary, $accent);
            color: white;
        }
        
        .remove-modal {
            background: linear-gradient(35deg, red, #d82c2c);
            color: white;
        }

        .create-modal:active {
            scale: .9;
        }
    }
    

}




